{% extends 'base.dj.html' %}
{% load static %}

<!-- cargar otro archivo css -->
{% block head_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'home/css/contacto.css' %}">
{% endblock %}


{% block title %}Contacto | Zonas de Sacrificio{% endblock %}

{% block title_article %}
Contactar al equipo Zonas de Sacrificio
{% endblock title_article %}

{% block sidebar_left %}
<figure id="im_contact">
    <img src="{% static './home/img/icono-contacto.svg' %}">
</figure>
{% endblock sidebar_left %}

{% block content_article %}

<p><i>La forma más directa de contactarnos es mediante
    nuestro correo electrónico</i></p>

<b>contacto@zonasdesacrificio.cl</b>

<p>
<a href="mailto:contacto@zonasdesacrificio.cl">Escribenos</a> 
</p>
{% endblock %}
