{% extends 'base.dj.html' %}
{% load static %}

{% block title %}Nosotras y Nosotros | Zonas de Sacrificio{% endblock %}


{% block title_article %}
Nosotres
{% endblock title_article %}

{% block content_article %}
<p>Somos un grupo de personas comprometidas con la defensa del medio ambiente,
que hemos visto como nuestro territorio ha sido afectado tremendamente 
con las políticas de extracción y explotación industrial que provocan
    contaminación sobre los ecosistemas y las personas.</p>

<p>Venimos desde los territorios, las organizaciones no gubernamentales (ONG), 
    militantes de distintas organizaciones políticas y ciudadanos comprometidos por el bien común.</p>

<p><b>¿Qué esperas para unirte?</b></p>

{% endblock %}
