{% load static %}
{% load i18n %}

<html>

    <!doctype html>
    <!--[if lt IE 7]>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>
        <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block head_title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon"
              href="{% static 'img/icon.png' %}"
              type="image/x-icon">

        <!-- bloque llamada a estáticos principal -->
        {% block top_front_frameworks %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'framework/semantic/semantic.min.css' %}">

        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/principal.css' %}">
        {% endblock %}

        <!-- Bloque para añadir css extras en header -->
        {% block head_css %}
        {% endblock %}

        <!-- Bloque para añadir js extra en header-->
        {% block head_javascript %}
        {% endblock %}
    </head>

    <body>
        <!-- Ubicación de encabezado del contenido -->
        <header id="main_header"  class="ui container">
            {% block head %}
            {% include 'menu_nav.dj.html' %}
              {% endblock head %}
        </header>
        <main id="all_content" class="ui container">
           <h1>{% block title_article %}
               {% endblock title_article %}
           </h1>
          <aside id="sidebar_left">
              {% block sidebar_left %}
              {% endblock sidebar_left %}
          </aside>
          <article id="main_content">
              {% block content_article %}
              {% endblock content_article %}
          </article>
          <aside id="sidebar_right">
              {% block sidebar_right %}
              {% endblock sidebar_right %}
          </aside>
        </main>

        <!-- Elemento Inferior dentro de bloque body-->
        <footer>
            <!-- cargar el html de la zona de contacto -->
            {% include 'contacto.dj.html' %}

            <!-- block to load framework -->
            {% block buttom_front_frameworks %}
            <!-- JQUERY:-->
            <script
                src="{% static 'framework/jquery/jquery.js' %}">            
            </script>

            <!-- Semantic:-->
            <script
                src="{% static 'framework/semantic/semantic.min.js' %}">             
            </script>

            <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'framework/semantic/semantic.min.css' %}">

            <script src="{% static 'js/principal.js' %}">             
            </script>
            {% endblock %}

            <!-- Añadir CSS Extra en footer -->
            {% block footer_css %}
            {% endblock %}

            <!-- Añadir JS extra en footer -->
            {% block footer_javascript %}
            {% endblock %}
        <footer>

    </body>

</html>
