<main id="data-contacto"  class="ui container">
    <section id="org_address">
        {{contacto.direccion}}, {{contacto.comuna}}
    </section>
    <section  id="social_networks" class="ui stackable buttons">
            <button class="ui green button" id="cto-whatsapp">
                <i class="whatsapp icon"></i>
                <a href="https://api.whatsapp.com/send?phone={{contacto.telefono}}" style="color:white">Háblame</a>
            </button>
            <button class="ui facebook button" id="cto-facebook">
                <i class="facebook icon"></i>{{contacto.facebook}}</button>
            <button class="ui linkedin button" id="cto-linkedin">
                <i class="linkedin icon"></i>{{contacto.linkedin}}</button>
            <button class="ui twitter button"  id="cto-twitter">
                <i class="twitter icon"></i>{{contacto.twitter}}</button>
            <button class="ui instagram button"  id="cto-instagram">
                <i class="instagram icon"></i>{{contacto.instagram}}</button>
    </section>
</main>
